<tabs>
    <tab [tabTitle]="'會員管理'">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input #newName type="text" class="form-control" placeholder="type your name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input #newEmail type="email" class="form-control" placeholder="your_account@example.com">
            </div>
            <button type="button" (click)="newMember()" class="btn btn-primary">New</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>EMAIL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mem of memberList;let i=index">
                    <td *ngIf="display[i]">{{mem.name}}</td>
                    <td *ngIf="!display[i]">
                        <input class="form-control input-sm" value="{{mem.name}}" [(ngModel)]="mem.editName" />
                    </td>

                    <td>{{mem.email}}</td>

                    <td *ngIf="display[i]">
                        <button type="button" (click)="editMember(i)" class="btn btn-info">Edit</button>
                        <button type="button" (click)="deleteMember(mem)" class="btn btn-danger">Delete</button>
                    </td>
                    <td *ngIf="!display[i]">
                        <button type="button" (click)="saveMember(i)" class="btn btn-primary">Save</button>
                        <button type="button" (click)="cancelMember(i)" class="btn btn-secondary">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab tabTitle="產品管理">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>產品名稱</th>
                    <th>產品類型</th>
                    <th>產品屬性</th>
                    <th>產品單價</th>
                    <th>產品數量</th>
                    <th>銷售狀態</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of prdList">
                    <td>{{item.prdName}}</td>
                    <td>
                        <label *ngIf="item.prdType==1">專用</label>
                        <label *ngIf="item.prdType==2">泛用</label>
                    </td>
                    <td>{{item.prdAttrPaser}}</td>
                    <td>{{item.prdPrice}}</td>
                    <td>{{item.prdQty}}</td>

                    <td *ngIf="item.salesStatus==1">可賣</td>
                    <td *ngIf="item.salesStatus==2">待售</td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab tabTitle="訂單管理">
        篩選欄位：
        <select class="c-select" [(ngModel)]="selectedMode">
        <option value="1">訂單序號</option>
        <option value="2">訂購會員名稱</option>
        </select>
        <input #filter type="text" class="form-control" placeholder="條件" [(ngModel)]="filterWord" />
        <br/>
        <br/>
        <br/>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>訂單序號</th>
                    <th>
                        訂單狀態<br/>
                        <label class="radio-inline">
                                <input #paymentFilterALL type="radio" name="paymentFilter" value="0" checked (click)="paymentFilter = paymentFilterALL.value">
                                全
                            </label>
                        <label class="radio-inline">
                                <input #paymentFilterY type="radio" name="paymentFilter" value="1" (click)="paymentFilter = paymentFilterY.value">
                                已付
                            </label>
                        <label class="radio-inline">
                                <input #paymentFilterN type="radio" name="paymentFilter" value="2" (click)="paymentFilter = paymentFilterN.value">
                                未付
                            </label>
                    </th>
                    <th>產品名稱</th>
                    <th (click)="sortQty()">
                        <a *ngIf="sortQtyMode === '0'">訂購數量</a>
                        <a *ngIf="sortQtyMode === '1'">訂購數量↓</a>
                        <a *ngIf="sortQtyMode === '2'">訂購數量↑</a>
                    </th>
                    <th>訂購會員名稱</th>
                    <th>訂購會員email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderList | OrderPipe:[selectedMode,filterWord,sortQtyMode,paymentFilter]">
                    <td>{{order.sqNo}}</td>

                    <td *ngIf="order.paymentStatus">已付款</td>
                    <td *ngIf="!order.paymentStatus">未付款</td>

                    <td>{{order.prdName}}</td>
                    <td>{{order.orderQty}}</td>
                    <td>{{order.orderMemName}}</td>
                    <td>{{order.orderMemEmail}}</td>
                </tr>
            </tbody>
        </table>
    </tab>
</tabs>